{% extends "base_generic.html" %}

{% block content %}
  <h1>FOSS Public Alert Server</h1>
  <p>Version: {{ version }}</p>
  <p>License: <a href="https://spdx.org/licenses/AGPL-3.0-or-later.html">AGPL-3.0-or-later</a></p>
  <p><a href="https://invent.kde.org/webapps/foss-public-alert-server">Source code</a></p>
  <p><a href="https://invent.kde.org/webapps/foss-public-alert-server/-/blob/master/openAPI-docu.yaml">OpenAPI API documentation</a></p>
  <p><a href="status">Alert sources</a></p>
  <p><a href="map">Alert map</a></p>
{% endblock %}
