 {% extends "base_generic.html" %}

{% block content %}
<div class="infoTextBlock">
  <h1>Source Status</h1>
  <p>
    This page overviews all cap source providers included in the FOSS Public Alert Server.
    If you are missing a cap feed and would like to add the feed, please contact us or open a merge request in
    <a href="https://invent.kde.org/webapps/foss-public-alert-server/-/blob/master/foss_public_alert_server/sourceFeedHandler/custom_feeds.json">this</a> file.
  </p>

  <h3>How to read this table</h3>
     <ul>
       <li>
         <strong>warnings</strong> <br>
         Shows warnings for this feed. <br>
         If the parser faced any issues while parsing the feed, here is a short version of the warnings. Warnings for a feed
do not consequently mean that we were unable to parse that feed.
       </li>

       <li>
         <strong>Missing Geo info</strong> <br>
         This indicates if we are missing geo information like polygons for alerts for this feed. This can be due to
         geocodes that we could not transform into polygons or other invalid geo information. This may affect all alerts
         in this feed or just a subset of the alerts.
          For translating the unknown geocode we are thankful for any support here. If you want to help us with it,
         please contact us.
       </li>
       <li>
         <strong>Last fetch status</strong> <br>
         This indicates if the feed, in general, could be parsed by us. <br>
         If this is red, the feed is not operational for us. This may be due to an invalid server config,
         invalid feed URL, or invalid XML. We were not able to parse this feed and, therefore, do not have
         any alerts for this feed in our database.
         You will not receive any push notifications for this feed.
       </li>
   </ul>
 </div>


  <p> This list contains {{ number_of_sources }} CAP providers</p>
 <p> last refresh:  {{ datetime }}</p>

{% if list_of_sources %}
      <table id="source_feed_status_table">
        <tr>
          <th>Logo</th>
          <th>Source ID</th>
          <th>Name</th>
          <th>Country</th>
          <th>Source official?</th>
           <th>Feed-URL</th>
          <th>Status</th>
          <th>last alert from</th>
          <th>last fetch duration</th>
           <th>warnings</th>
          <th>Missing geo Info <button id="filterMissingGeoButtonId" onclick=""> filter </button></th>
          <th>Last fetch status <button id="filterFetchStatusButtonId" onclick=""> filter </button></th>
        </tr>
        {% for source in list_of_sources %}
          <tr>
            <td> <!--<img height="20" src={{ source.logo }} --> </td>
            <td>{{ source.source_id }}</td>
            <td>{{ source.name }}</td>
            <td> {{source.authorityCountry }}</td>
            <td>{{ source.source_is_official }} </td>
            <td><a href={{ source.cap_alert_feed }}>Feed</a> </td>
            <td>{{ source.cap_alert_feed_status }} </td>
            <td>{{ source.latest_published_alert_datetime }} </td>
            <td>{{ source.last_fetch_duration }} </td>
             <td>{{ source.feed_warnings }} </td>
            <td {% if source.missing_geo_information == False %} class="last_fetch_status_success"
                {% elif source.missing_geo_information == None %} class="last_fetch_status_unknown" {% else %}
              class="last_fetch_status_failure" {% endif %}> {{source.missing_geo_information}} </td>
            <td {% if source.last_fetch_status == True %} class="last_fetch_status_success"
                {% elif source.last_fetch_status == None %} class="last_fetch_status_unknown" {% else %}
              class="last_fetch_status_failure" {% endif %}>{{source.last_fetch_status}}</td>
          </tr>
        {% endfor %}
      </table>
  {% else %}
    <p>Error. There are no sources</p>
  {% endif %}

 {% load static %}
 <script src="{% static 'js/feed_sources_status_page_filter.js' %}"></script>

{% endblock %}
