<!DOCTYPE html>
<!--
SPDX-FileCopyrightText: Volker Krause <vkrause@kde.org>
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<html lang="en">
  <head>
    <title>CAP Alert Map View</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <script src="{% static 'maplibre/maplibre-gl.js' %}"></script>
    <link href="{% static 'maplibre/maplibre-gl.css' %}" rel="stylesheet" />
    <style>
    html, body { margin: 0; padding: 0; height: 100%; width: 100%; }
    #map { width: 100%; height: 100%; }
    .maplibregl-popup {
        max-height: 600px;
        overflow-y: scroll;
    }
    </style>
  </head>
  <body>
   <div id="map"></div>
   <script>
    const map = new maplibregl.Map({
      container: 'map',
      style: '/static/map_style_with_osm.json',
      center: [0, 0], // starting position [lon, lat]
      zoom: 1 // starting zoom
    });

     map.on('load', () => {
        map.on('click', 'alert-areas', (e) => {
            const compareFn = (lhs, rhs) => {
                return lhs.properties.issue_time < rhs.properties.issue_time ? 1 : -1;
            };
            let features = e.features;
            features = features.sort(compareFn);

            let tooltip = '';
            for (const feature of features) {
                if (feature.properties.event)
                    tooltip += '<b>' + feature.properties.event + '</b><br/>';
                if (feature.properties.category)
                    tooltip += 'Category: ' + feature.properties.category + '<br/>';
                if (feature.properties.severity)
                    tooltip += 'Severity: ' + feature.properties.severity + '<br/>';
                if (feature.properties.urgency)
                    tooltip += 'Urgency: ' + feature.properties.urgency + '<br/>';
                if (feature.properties.status)
                    tooltip += 'Status: ' + feature.properties.status + '<br/>';
                if (feature.properties.msg_type)
                    tooltip += 'Message: ' + feature.properties.msg_type + '<br/>';
                tooltip += 'Sent: ' + feature.properties.issue_time + '<br/>';
                tooltip += 'Identifier: ' + feature.properties.alert_id + '<br/>';
                tooltip += '<a href="/alert/' + feature.properties.id + '">CAP data</a><br/>';
                if (feature.properties.source_url) {
                    tooltip += '<a href="' + feature.properties.source_url + '">Source CAP</a><br/>';
                }
                tooltip += '<br/>';
            }

            new maplibregl.Popup()
                .setLngLat(e.lngLat)
                .setHTML(tooltip)
                .setMaxWidth("500px")
                .addTo(map);
        });

        map.on('mouseenter', 'alert-areas', () => {
            map.getCanvas().style.cursor = 'pointer';
        });

        map.on('mouseleave', 'alert-areas', () => {
            map.getCanvas().style.cursor = '';
        });
    });
   </script>
  </body>
</html>
